{"HXFee":{"BindTunnel":"0","MinerIncome":"0.001","MinerForeClose":"0","MinerRedeem":"0","AccountRegister":"5","CreateCitizen":"1000","ChangeSenator":"1000",
    "CreateSenator":"10000","PoundagePublish":"0.001","PoundageCancel":"0.001","Transfer":"0.001","ChangePayback":"0.001","CitizenResolution":"0.001"},
"CrossFee":{"WithDraw":"0.001","Capital":"0.001"}}
